<div class="home-page">
	<md-card>
		<h3>
			Page info
		</h3>
		<hr>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat faucibus tincidunt. Ut eget nibh in quam iaculis suscipit sed eu odio. Curabitur et enim in nisi ultrices egestas mattis vitae augue. Sed molestie neque eget est sagittis pretium. Etiam eu orci ac tellus feugiat maximus quis quis lectus. Nullam volutpat venenatis metus ut faucibus. Pellentesque nec ligula sem. Donec finibus enim condimentum nisl sodales, vitae congue risus laoreet. Suspendisse nunc enim, imperdiet id tristique ut, bibendum eget lectus. Suspendisse quis nunc nulla. In eget ante quis magna fringilla fringilla.
			
			Donec consectetur ex sagittis enim luctus placerat. Morbi sollicitudin enim nec justo posuere placerat. Duis quis dolor nisi. Fusce aliquam eros non justo aliquet, a venenatis risus euismod. Fusce pellentesque justo augue, nec rhoncus enim blandit dapibus. Sed quis mauris non diam auctor interdum. Mauris lobortis dolor non sapien accumsan, euismod blandit leo lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse ex elit, elementum quis ullamcorper a, ornare ut sem. Aliquam eu sodales sapien.
		</p>
		<div>
			<canvas #chart></canvas>
		</div>
		<p>
			Aliquam tempor convallis lacus, vitae lacinia est porta sit amet. Mauris pharetra ullamcorper ex, porta faucibus nunc iaculis eu. Aliquam gravida risus at venenatis dapibus. Curabitur nec eros eget mauris pulvinar faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque in augue convallis, euismod libero a, venenatis velit. Cras faucibus augue mi, sit amet consequat ex commodo ac. Donec consectetur volutpat sem, ac placerat turpis eleifend sit amet. Phasellus gravida ac nisl at maximus. Duis ultrices sodales sem ac consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis tortor id risus bibendum dictum sed id arcu.		
		</p>
	</md-card>
</div>
