<div>
	<form #reportForm="ngForm" *ngIf="!waiting">
		<h2 md-dialog-title>Report Dialog</h2>
		<hr>
		<md-dialog-content>
			<md-grid-list cols=12 rowHeight="40px">
				<md-grid-tile [colspan]=12>
					<h2>Specimen Activity</h2>
				</md-grid-tile>
				<md-grid-tile [colspan]=12 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensTotal" placeholder="Specimen Total" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Collection Development</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Exchanges Received</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensExchangesRecieved" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionExchangesRecieved" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Exchanges Sent</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensExchangesSent" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionExchangesSent" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Gifts Received</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensGiftsRecieved" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionGiftsRecieved" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Staff Collections</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensStaffCollections" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionStaffCollections" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Database</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Total Entered</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensTotalEntered" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Specimens Entered</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensSpecimensEntered" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Georeferenced</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensGeoreferenced" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Imaged</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensImaged" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Images Processed</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensImagesProcessed" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Other Specimen Activity</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Loans Sent</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansSent" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansSent" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Loans Received</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansReceived" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansReceived" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Loans Returned to UTC</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansReturnedToUTC" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansReturnedToUTC" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Loans Returned by UTC</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansReturnedByUTC" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansReturnedByUTC" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Loans Transferred by UTC</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansTransferredByUTC" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansTransferredByUTC" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Local Loans</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansLocal" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansLocal" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Photographic Slides Loaned</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="specimensLoansPhotographicSlides" placeholder="Specimens" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="institutionLoansPhotographicSlides" placeholder="Institutions/Individuals" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h2>Service Activity</h2>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Utah State University</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Biology</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuBiologyTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuBiologyRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Natural Resources</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuNaturalResourcesTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuNaturalResourcesRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Landscape Architecture</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuLandscapeArchitectureTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuLandscapeArchitectureRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Plants, Soils, & Biometeorology</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuPSBTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuPSBRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Extension</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuExtensionTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuExtensionRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Miscellaneous</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuMiscTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuMiscRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>UTC Development</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuUTCDevTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceUsuUTCDevRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Local</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Consultants</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalConsultantsTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalConsultantsRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Schools</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalSchoolsTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalSchoolsRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Scouts</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalScoutsTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalScoutsRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>General Public</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalGeneralPublicTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalGeneralPublicRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Miscellaneous</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalMiscTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceLocalMiscRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Federal Agencies</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USDA [ARS, USFS, SCS]</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceFedUsdaTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceFedUsdaRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USDI [NPS, BLM, NBS]</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceFedUsdiTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceFedUsdiRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Miscellaneous [NAS, DOD]</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceFedMiscTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceFedMiscRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Other</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Commercial Companies</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceCommercialCompaniesTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceCommercialCompaniesRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Foreign Governments</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceForeignGovernmentsTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceForeignGovernmentsRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Non-Profit Agencies</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceNonProfitsTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceNonProfitsRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Other Universities</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceOtherUniversitiesTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceOtherUniversitiesRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>State of Utah [UDOT, UNH]</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceStateOfUtahTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceStateOfUtahRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>Other States</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceOtherStatesTime" placeholder="Time" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="serviceOtherStatesRequest" placeholder="Requests" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h2>Usage Activity</h2>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Library Usage</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Items checked out</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageLibraryItemsCheckedOut" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Visits</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageLibraryVisits" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Group Usage</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Items checked out</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageLibraryItemsCheckedOut" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Visits</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageLibraryVisits" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h3>Visitation</h3>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USU Biology</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuBiologyFaculty" placeholder="Faculty Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuBiologyStudents" placeholder="Student Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USU Natural Resources</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuNaturalResourcesFaculty" placeholder="Faculty Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuNaturalResourcesStudents" placeholder="Student Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USU Landscape Architecture</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuLandscapeArchitectureFaculty" placeholder="Faculty Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuLandscapeArchitectureStudents" placeholder="Student Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USU Plants, Soils, & Biometeorology</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuPSBFaculty" placeholder="Faculty Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuPSBStudents" placeholder="Student Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USU Extension</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuExtensionFaculty" placeholder="Faculty Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuExtensionStudents" placeholder="Student Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h4>USU Miscellaneous</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuMiscFaculty" placeholder="Faculty Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationUsuMiscStudents" placeholder="Student Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Federal Agency U.S.D.I.</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationFedUsdi" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Federal Agency U.S.D.A.</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationFedUsda" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Commercial</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationCommercial" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Consultants</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationConsultants" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Other Herbaria and Universities</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationOtherUniversities" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Non-profit Agencies</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationNonProfit" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Public</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationPublic" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Boy Scouts</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationBoyScouts" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>State Of Utah</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationStateOfUtah" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Other Miscellaneous</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="usageVisitationOtherMiscellaneous" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=12>
					<h2>Facebook Activity</h2>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Page likes</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookPageLikes" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Reach - USA & territories</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookReachUsa" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Reach - Utah</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookReachUtah" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Reach - Non US</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookReachNonUs" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Number of Posts</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookPosts" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Post Reach (Max)</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookReachMax" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Post Reach (Average)</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookReachAverage" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Post Engagement (Max)</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookPostEngagementMax" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<h4>Post Engagement (Average)</h4>
				</md-grid-tile>
				<md-grid-tile [colspan]=6 [rowspan]=2>
					<md-input-container>
						<input mdInput name="facebookPostEngagementAverage" placeholder="Count" ngModel>
					</md-input-container>
				</md-grid-tile>
			</md-grid-list>
		</md-dialog-content>
		<hr>
		<md-dialog-actions>
			<button md-raised-button type="button" color="primary" (click)="submit(reportForm)">Submit</button>&nbsp;
			<!-- <button md-raised-button (click)="onCloseCancel()">Cancel</button> -->
		</md-dialog-actions>
	</form>
	<div *ngIf="waiting">
		<md-grid-list cols=1 rowHeight="350px">
			<md-grid-tile>
				<md-spinner color="primary"></md-spinner>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>