<div>
	<h2 md-dialog-title>Specimen Dialog</h2>
	<hr>
	<md-dialog-content>
		Content
		<!-- <md-list>
			<md-list-item *ngFor="let item of cartService.cartItems">
				<md-icon class="delete" md-list-icon (click)="removeFromCart(item)">cancel</md-icon>
				{{ item.name }}
				<span class="spacer"></span>
				${{ item.price }}
			</md-list-item>
			<md-divider></md-divider>
			<md-list-item>
				<span class="spacer"></span>
				Total: ${{ totalCost }}
			</md-list-item>
		</md-list> -->

	</md-dialog-content>
	<hr>
	<md-dialog-actions>
		<button md-raised-button color="primary" (click)="onCloseConfirm()">Submit</button>&nbsp;
		<button md-raised-button (click)="onCloseCancel()">CANCEL</button>
	</md-dialog-actions>
</div>