<div>
	<div>
		<form #reportForm="ngForm" *ngIf="!waiting">
				<h2 md-dialog-title>Interim Report Dialog - {{ report.date }}</h2>
				<hr>
				<md-dialog-content>
					<md-grid-list cols=12 rowHeight="40px">
						<ng-container *ngFor="let type of report.report; let i = index">
							<md-grid-tile [colspan]=12>
								<h2>{{ type.title }}</h2>
							</md-grid-tile>
							<ng-container *ngFor="let activity of type.activities; let j = index">
								<md-grid-tile [colspan]=12>
									<h3>{{ activity.title }}</h3>
								</md-grid-tile>
								<ng-container *ngFor="let datum of activity.data; let k = index">
									<md-grid-tile [colspan]="datum.inputs.length % 2 == 1 ? 6 : 12" [rowspan]="datum.inputs.length % 2 == 1 ? 2 : 1">
										<h4>{{ datum.title }}</h4>
									</md-grid-tile>
									<ng-container *ngFor="let input of datum.inputs; let l = index">
										<md-grid-tile [colspan]=6 [rowspan]=2>
											<md-input-container>
												<input mdInput [(ngModel)]="input.value" name="{{ i }}_{{ j }}_{{ k }}_{{ l }}"
													placeholder="{{ input.placeholder }}">
											</md-input-container>
										</md-grid-tile>
									</ng-container>
									<ng-container *ngIf="datum.openEnded">
											<md-grid-tile [colspan]=12 [rowspan]=2>
												<button md-raised-button color="primary" (click)="addGroup(datum)">Add Group</button>
											</md-grid-tile>
										</ng-container>
								</ng-container>
							</ng-container>
						</ng-container>
					</md-grid-list>
				</md-dialog-content>
			<hr>
			<md-dialog-actions>
				<button md-raised-button (click)="onCloseCancel()">Cancel</button>
				<!-- <span style="flex: 1 1 auto;"></span>
				<button md-raised-button type="button" color="primary" (click)="submit()">Submit</button> -->
			</md-dialog-actions>
		</form>
	</div>
	<div *ngIf="waiting">
		<md-grid-list cols=1 rowHeight="350px">
			<md-grid-tile>
				<md-spinner color="primary"></md-spinner>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>