<div>
	<form #usageForm="ngForm" *ngIf="!waiting">
		<h2 md-dialog-title>Usage Dialog</h2>
		<hr>
		<md-dialog-content>
			<md-grid-list cols=6 rowHeight="75px">
				<md-grid-tile [colspan]="3">
					<md-select required placeholder="Usage Type" 
						[(ngModel)]="selectedUsage" name="selectedUsage" style="width: 250px">
						<md-option *ngFor="let usage of usageTypes" [value]="usage">
							{{ usage.name }}
						</md-option>
					</md-select>
				</md-grid-tile>
				<md-grid-tile [colspan]="3">
					<div *ngIf="selectedUsage != null">
						<div *ngIf="selectedUsage.name != 'Group Usage'">
							<md-select required placeholder="Sub Usage" [(ngModel)]="selectedSubUsage" 
								name="selectedSubUsage" style="width: 250px">
								<md-option *ngFor="let subUsage of selectedUsage.options" [value]="subUsage">
									{{ subUsage.preDisplay }}{{ subUsage.name }}
								</md-option>
							</md-select>
						</div>
						<div *ngIf="selectedUsage.name == 'Group Usage'">
							<md-input-container>
								<input mdInput required name="groupName" placeholder="Name" ngModel>
								<md-error>This is required</md-error>
							</md-input-container>
						</div>
					</div>
				</md-grid-tile>
				<md-grid-tile [colspan]=3 *ngIf="selectedUsage != null && selectedUsage.name == 'Library Usage'">
					<md-input-container>
						<input mdInput required name="count" placeholder="Count" ngModel>
						<md-error>This is required</md-error>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]="6">
					<md-input-container style="width: 100%;">
						<textarea mdInput md-autosize required placeholder="Purpose" name="purpose" ngModel></textarea>
						<md-error>This is required</md-error>
					</md-input-container>
				</md-grid-tile>
				<ng-container *ngIf="selectedUsage != null && selectedUsage.name == 'Visitation'">
					<md-grid-tile [colspan]="3" *ngFor="let name of names; let i = index">
						<md-input-container>
							<input mdInput name="name{{i}}" placeholder="Name" value="name" ngModel>
						</md-input-container>
					</md-grid-tile>
					<md-grid-tile [colspan]="6">
						<button md-raised-button color="primary" (click)="incrementNames()">Add Individual</button>
					</md-grid-tile>
				</ng-container>
			</md-grid-list>
		</md-dialog-content>
		<hr>
		<md-dialog-actions>
				<button md-raised-button (click)="onCloseCancel()">Cancel</button>
				<span style="flex: 1 1 auto;"></span>
			<button md-raised-button type="button" color="primary" (click)="submit(usageForm)">Submit</button>
		</md-dialog-actions>
	</form>
	<div *ngIf="waiting">
		<md-grid-list cols=1 rowHeight="350px">
			<md-grid-tile>
				<md-spinner color="primary"></md-spinner>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>