<div>
	<form #serviceForm="ngForm">
		<h2 md-dialog-title>Service Request Form</h2>
		<hr>
		<md-dialog-content>
			<md-grid-list cols=6>
				<md-grid-tile [colspan]="3">
					<md-input-container style="width: 100%;">
						<input mdInput required name="requester" placeholder="Name of individual" ngModel>
						<md-error>This is required</md-error>
					</md-input-container>
				</md-grid-tile>
				<md-grid-tile [colspan]="3"></md-grid-tile>
				<md-grid-tile [colspan]="3">
					<md-select required placeholder="Organization" 
						[(ngModel)]="selectedOrganization" name="serviceOrganization" style="width: 250px">
						<md-option *ngFor="let group of organizations" [value]="group">
							{{ group.name }}
						</md-option>
					</md-select>
				</md-grid-tile>
				<md-grid-tile [colspan]="3">
					<div *ngIf="selectedOrganization != null">
						<md-select required placeholder="Sub Organization" [(ngModel)]="selectedSubOrganization" 
							name="serviceSubOrganization" style="width: 250px">
							<md-option *ngFor="let subgroup of selectedOrganization.suborganizations" [value]="subgroup">
								{{ subgroup.name }}
							</md-option>
						</md-select>
					</div>
				</md-grid-tile>
				<md-grid-tile [colspan]="6">
					<md-input-container style="width: 100%;">
						<textarea mdInput md-autosize required placeholder="Service to Perform" name="serviceToPerform" ngModel></textarea>
						<md-error>This is required</md-error>
					</md-input-container>
				</md-grid-tile>
			</md-grid-list>
		</md-dialog-content>
		<hr>
		<md-dialog-actions>
			<button md-raised-button type=submit color="primary" (click)="submit(serviceForm)">Submit</button>&nbsp;
			<button md-raised-button (click)="onCloseCancel()">Cancel</button>
		</md-dialog-actions>
	</form>
</div>