<div>
	<md-card>
		<md-tab-group>
			<md-tab label="Service">
				<div class="content">
					<md-grid-list cols=6 rowHeight="50px">
						<md-grid-tile [colspan]="1">
							<h3> Open Service Requests </h3>
						</md-grid-tile>
						<md-grid-tile [colspan]="4"></md-grid-tile>
						<md-grid-tile [colspan]="1">
							<button md-raised-button color="primary" (click)="openServiceDialog()">Add Service Request</button>
						</md-grid-tile>
					</md-grid-list>
					<hr>
					<div>
						<md-grid-list cols=6 rowHeight="50px">
							<md-grid-tile [colspan]="6" *ngFor="let service of openServices">
								Requester: {{ service.requester }}
								Organization {{ service.serviceOrganization }} - {{ service.serviceSubOrganization}}
								Date: {{ service.date }}
								<button md-raised-button color="primary" (click)="openServiceCompletionDialog(service)">Request Review</button>
							</md-grid-tile>
						</md-grid-list>
					</div>
				</div>
			</md-tab>
			<md-tab label="Usage">
				<div class="content">
					<button md-raised-button color="primary" (click)="openUsageDialog()">Add Usage</button>
				</div>
			</md-tab>
		  </md-tab-group>
	</md-card>	
</div>
