<div class="page" (window:resize)="onResize($event)">
	<md-toolbar class="header" color="primary">
		<!-- <button md-button (click)="menuClick()">
			<md-icon>menu</md-icon>
		</button> -->
		USU Herbarium
		<span></span>
		<img src="./assets/img/usulogo.png" style="height: 50px;"/>
	</md-toolbar>

	<md-sidenav-container class="example-container">
		<md-sidenav #sidenav class="example-sidenav">
			<md-grid-list cols="1" rowHeight="50px">
				<md-grid-tile>
					<a md-raised-button color="primary" [routerLink]="['home']" (click)="sidenav.close()">Home</a>
				</md-grid-tile>
				<md-grid-tile>
					<a md-raised-button color="primary" [routerLink]="['service']" (click)="sidenav.close()">Service</a>
				</md-grid-tile>
				<md-grid-tile>
					<a md-raised-button color="primary" [routerLink]="['specimen']" (click)="sidenav.close()">Specimen</a>
				</md-grid-tile>
				<md-grid-tile>
					<a md-raised-button color="primary" [routerLink]="['usage']" (click)="sidenav.close()">Usage</a>
				</md-grid-tile>
				<span></span>
				<md-grid-tile>
					<a md-raised-button color="primary" [routerLink]="['admin']" (click)="sidenav.close()">Admin Panel</a>
				</md-grid-tile>
			</md-grid-list>
		</md-sidenav>
		<router-outlet></router-outlet>
	</md-sidenav-container>
</div>